/vidoplay/.vs
/vidoplay/vidoplay/vidoplay.vcxproj.user
/vidoplay/videoclient/res
/vidoplay/videoclient/videoclient.vcxproj.user
/vidoplay/vidoplay/Debug
/vidoplay/videoclient/videoClient.~ml
/vidoplay/Debug
/vidoplay/videoclient/Debug
/vidoplay/videoclient/plugins
/vidoplay/VideoRTSPServer/out.bin
/vidoplay/VideoRTSPServer/Debug
